In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import numpy as np

## https://gist.github.com/ktisha/c21e73a1bd1700294ef790c56c8aec1f

In [2]:
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
df=pd.read_csv("/content/pima-indians-diabetes.csv",names=names,skiprows=1)

In [3]:
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [4]:
X=df.drop('class',axis=1)
y=df['class']

In [5]:
X

     preg  plas  pres  skin  test  mass   pedi  age
0       6   148    72    35     0  33.6  0.627   50
1       1    85    66    29     0  26.6  0.351   31
2       8   183    64     0     0  23.3  0.672   32
3       1    89    66    23    94  28.1  0.167   21
4       0   137    40    35   168  43.1  2.288   33
..    ...   ...   ...   ...   ...   ...    ...  ...
763    10   101    76    48   180  32.9  0.171   63
764     2   122    70    27     0  36.8  0.340   27
765     5   121    72    23   112  26.2  0.245   30
766     1   126    60     0     0  30.1  0.349   47
767     1    93    70    31     0  30.4  0.315   23

[768 rows x 8 columns]

In [6]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: class, Length: 768, dtype: int64

In [13]:
k=50 ## Ideally can be 10
seed=7
kfold=KFold(n_splits=k,shuffle=True,random_state=seed)
model=LogisticRegression(max_iter=3000)
results=cross_val_score(model,X,y,cv=kfold)
print(results)
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0,results.std()*100))

[0.75       0.875      0.8125     0.9375     0.875      0.6875
 0.8125     0.8125     0.625      0.625      0.875      0.8125
 0.75       0.8125     0.625      0.875      0.9375     0.875
 0.6        0.73333333 0.86666667 0.66666667 0.86666667 0.73333333
 0.93333333 0.73333333 0.8        0.86666667 0.6        0.73333333
 0.53333333 0.66666667 0.66666667 0.86666667 0.73333333 0.86666667
 0.86666667 0.8        0.66666667 0.93333333 0.8        1.
 0.66666667 0.93333333 0.73333333 0.73333333 0.8        0.8
 0.66666667 0.66666667]
Accuracy: 77.817% (10.762%)